<style media="all">
body {
    font-size: 12.8px;
    display: flex;
    flex-flow: column wrap;
    max-height: 500px;
    justify-content: space-between;
    max-width : 435px;
    margin-top: 150px;
    background-image: url("tmux.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-size: 150px;
}
.level2 {
    display: inline-block;
    background: black;
    width: 300px;
    border-radius: 5px;
    margin: 2px;
    margin-left: 10px;
}

/* content */
h2 {
    font-family: "Lucida Grande", sans-serif;
    color: white;
    margin:2px;
    background: #013198;
    padding: 4px;
    font-size: 13px;
}
.level2 p {
    margin: 2px;
    margin-bottom: 0px;
    background-color:white;
    padding: 2px;
}

/* Lists */
.level2 > ul {
    padding: 0;
    margin: 2px;
}
li { 
    list-style-type: none;
    background: white; 
    padding-right:3px;
    padding-left:3px;
}
li:nth-child(odd) { background: #d3e1fe; }
span {
    /* This can be used inside a list element to right align part of the list
     * element */
    float:right;
}

/* Tables */
table {
    width: 296px;
    border-collapse: collapse;
    margin: 2px;
    margin-top: 0px;
}
th {font-weight: normal;
    background: #d3e1fe;
}
tr {
    background: white; 
    padding-right:3px;
    padding-left:3px;
}
tr:nth-child(even) { background: #d3e1fe; }
td:nth-child(1) { min-width: 40px }


/* Copyright */
#copyright > h1 {
      background-image: none;
      margin-bottom: 0px;
      margin-top: 20px;
      text-align: center;
      font-size: 10px;
      padding:10px;
      padding-bottom:3px;
}
#copyright > p {
    margin-top: 0px;
    padding-left: 10px;
    font-size: 8px;
    text-align: center;
}
</style>
<style media="print">
@page 
{
    size: auto;   /* auto is the initial value */
    margin: 20mm;  /* this affects the margin in the printer settings */
}
</style>
